/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 May, 2018, 5:45:31 PM
    Author     : Terence
*/

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

body, h1, h2, h3, h4, h5, h6, p, link, table {
    font-family: sans-serif;
}

body {
    background-color: #f8f9fa;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

table {
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Body title */
h1 {
    padding-bottom: 2%;
    text-align: center;
}

/* top navigation logo */
h2 {
    color: white;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* Inner form heading title */
h3 {
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #eee;
}

h5 {
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #eee;
}

h6 {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bg-backgroundcolor {
    background-color: #4A6695 !important;
}

.sidebar {
    position: fixed;
    top: 5%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 2%;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 2px solid #eee;
}

.sidebar .nav-item {
    display: block;
    /* color: rgba(163, 175, 183, .9); */
    color: rgba(33, 43, 53, .9);
    font-size: 14px;
    width: 100%;
    margin-bottom: 15%;
}

.btn-primary {
    background-color: #357169 !important;
    border-color: #357169 !important;
}

.icon {
    margin-left: 1%;
    margin-right: 1%;
}



